<div class="card mat-card" id="first-card">
            <div id="habilidades" class="habilidades">
                <div> 
                    <h2>Hard Skill - Soft Skill</h2>
                </div>
        <div>
            <img src="/assets/habilidades-removebg-preview.png" class="logohab">
        </div>
        <h6 style="text-align: center;">Creatividad</h6>
        <div class="progress">
            <div class="progress-bar progress-bar-striped bg-info" role="progressbar" aria-label="Default striped example" style="width: 65%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <br>
        <h6 style="text-align: center;">Capacidad resolutiva</h6>
        <div class="progress">
            <div class="progress-bar progress-bar-striped bg-info" role="progressbar" aria-label="Default striped example" style="width: 70%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <br>
        <h6 style="text-align: center;">Gestión del tiempo</h6>
        <div class="progress">
            <div class="progress-bar progress-bar-striped bg-info" role="progressbar" aria-label="Default striped example" style="width: 60%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <br>
        <h6 style="text-align: center;">  Adaptabilidad</h6>
        <div class="progress">
            <div class="progress-bar progress-bar-striped bg-info" role="progressbar" aria-label="Default striped example" style="width: 75%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <br>
        <h6 style="text-align: center;"> Proactividad </h6>
        <div class="progress">
            <div class="progress-bar progress-bar-striped bg-info" role="progressbar" aria-label="Default striped example" style="width: 80%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <br>
    </div>
</div>
