<div class="card mat-card" id="first-card">
    <div id="educacion" class="curso">
                    <div> 
                        <h2>Cursos</h2>
                    </div>
    <h3>Primera Etapa Argentina programa</h3>
    <span>   11 junio 2022</span>
    </div>

            <div>
            <img src="/assets/arg-programa.png" class="logoarg">
            </div>
                <div id="educacion universitaria" class="educuniversitaria">
                                <div>
                                    <h2>Universitaria</h2>
                                </div>
                    <h3>Universidad de los Andes</h3>
                     <span> 2011 - 2016</span>
                </div>

                    <div>
                    <img src="/assets/ula-removebg-preview.png" class="logoula">
                     </div>
            <div>
                            <div>
                                <h2>Secundaria </h2>
                            </div>
                            <div id="Educación Secundaria" class="eduseg">
                                <h3>Colegio Sagrado Corazón de Jesús</h3>
                                <span> 2003 - 2009</span>   
                          </div>
                <img src="/assets/CODIMA-removebg-preview.png" class="codima">
            </div>
            <div>

            